<div style="background: url('assets/img/p2n/bg.png'); height: 100%; background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
<div class="main-content">
    <!-- <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/admin/dashboard']">
          <img src="assets/img/p2n/logo_text.png" />
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
           aria-controls="sidenav-collapse-main">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav> -->
    <router-outlet></router-outlet>
  </div>
</div>
  