<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a routerLink="/index">Trang chủ</a><span>|</span></li>
            <li>Thông tin</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    <app-banner-left></app-banner-left>
    <div class="w3l_banner_nav_right">
        <!-- about -->
        <div class="privacy about">
            <h3>Thông tin cửa hàng</h3>
            <p class="animi">
                P2NPet Petshop là thương hiệu thuộc lĩnh vực nhân giống, kinh doanh thú cưng và các loại phụ kiện vật nuôi của Công ty Cổ phần Dogily Việt Nam. Với slogan “Pets is my friend” mang ý nghĩa rằng: “Thú cưng là bạn của chúng ta”. P2N Petshop cam kết luôn
                đặt sức khỏe và cuộc sống của các bé chó mèo lên trên hết trong toàn bộ hoạt động của thương hiệu. P2NPet Petshop là một trong những đơn vị đầu tiên tại Việt Nam xây dựng thành công hệ sinh thái khép kín gồm trang trại chó mèo cảnh, cửa
                hàng thức ăn và phụ kiện thú cưng, phòng khám thú y, spa chó mèo,… Với chuỗi các cơ sở chất lượng cao đặt tại Hà Nội, TP. HCM, Đà Lạt.
            </p>
            <div class="agile_about_grids">
                <div class="col-md-6 agile_about_grid_right">
                    <img src="../../../assets/pet/store.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="col-md-6 agile_about_grid_left">
                    <ol>
                        <li>Thú cưng đa dạng</li>
                        <li>Giá cả hợp lý</li>
                        <li>Hỗ trợ tận tình</li>
                        <li>Đảm bảo chất lượng</li>
                    </ol>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //about -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Thành viên nhóm</h3>
        <div class="agileits_team_grids">
            <div class="col-md-3 agileits_team_grid" style="width: 50%;">
                <img src="../../../assets/pet/hinh1.jpg" alt=" " class="cus-img" />
                <h4 style="color: black;">Huỳnh Trọng Nghĩa</h4>
                <p>Lập trình viên</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid" style="width: 50%;">
                <img src="../../../assets/pet/nam.png" alt=" " class="cus-img" />
                <h4 style="color: black;">Nguyễn Hoài Nam</h4>
                <p>Lập trình viên</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->