<div class="header bg-primary pb-8 pt-5 pt-md-0">   <!-- bg-gradient-danger -->
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<div class="card-body">
  <div class="container-fluid my-form">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-xl-6 col-md-12">
                <h3 class="mb-0">Xem tài khoản</h3>
              </div>
              <div class="col-xl-6 col-md-12 text-right">
                <a [routerLink]="['/admin/list-account']" class="btn btn-default">Hủy</a>
              </div>
            </div>
          </div>
          <div *ngIf="!firstload" class="card-body">
            <form [formGroup]="form">
              <h6 class="heading-small text-muted mb-4">Thông tin tài khoản</h6>
              <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="Name">Tên tài khoản</label>
                        <input type="text" class="form-control form-control-alternative" placeholder="Tên tài khoản"
                          [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" formControlName="Name">
                        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                          <div *ngIf="f.Name.errors.required">Vui lòng nhập tên tài khoản</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="Phone">Số điện thoại</label>
                        <input type="tel" class="form-control form-control-alternative" placeholder="Số điện thoại"
                          [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" formControlName="Phone">
                        <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                          <div *ngIf="f.Phone.errors.required">Vui lòng nhập số điện thoại</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="Email">Email</label>
                            <input type="email" class="form-control form-control-alternative" id="emailplaceholder"
                            placeholder="@gmail.com" 
                              [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" formControlName="Email">
                            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                              <div *ngIf="f.Email.errors.required">Vui lòng điền email</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="RoleId">Vai trò</label>
                            <select class="form-control form-control-alternative" placeholder="Vai trò"
                              [ngClass]="{ 'is-invalid': submitted && f.RoleId.errors }" formControlName="RoleId">
                              <option *ngFor="let item of roleSelection" [ngValue]="item.RoleId">
                                {{ item.RoleName }}
                              </option>
                            </select>
                            <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                              <div *ngIf="f.Status.errors.required">Vui lòng chọn vai trò</div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="Status">Trạng thái</label>
                            <select class="form-control form-control-alternative" placeholder="Trạng thái"
                              [ngClass]="{ 'is-invalid': submitted && f.Status.errors }" formControlName="Status">
                              <option *ngFor="let item of accountStatusOptions" [ngValue]="item.Id">
                                {{ item.Title }}
                              </option>
                            </select>
                            <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                              <div *ngIf="f.Status.errors.required">Vui lòng chọn trạng thái</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-control-label" for="Address">Địa chỉ</label>
                          <textarea rows="5" class="form-control form-control-alternative" placeholder="Nhập địa chỉ"
                            [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" formControlName="Address">
                          </textarea>
                          <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                            <div *ngIf="f.Address.errors.required">Vui lòng điền địa chỉ</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="AccountImage">Ảnh đại diện</label>
                            <div style="margin-top: 20px;">
                              <img src="{{f.AccountImage.value}}" style="width: 100%;" />
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
            </form>
          </div>
          <div *ngIf="firstload" class="card-body loading-form">
            <span *ngIf="firstload" class="spinner-border spinner-border-lg"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>