.text-right-a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    float: right;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2%;
    color: darkblue;
}

.th-class {
    background: border-box;
}

.my-hr {
    border: 1.5px solid black;
}

.my-label {
    font-weight: normal;
    padding: 0.5% 0;
}