<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a routerLink="/index">Trang chủ</a><span>|</span></li>
            <li>Thú cưng</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    <app-banner-left></app-banner-left>
    <div class="w3l_banner_nav_right">
        <div>
            <img src="../../../assets/img/p2n/banner.jpg" alt="" style="width:100%;height:367px;"/>
        </div>

        <div class="privacy about" *ngIf="pets.length == 0">
            <h3 id="target1" style="font-family: Arial, Helvetica, sans-serif;">Không có thú cưng nào</h3>
            <div class="checkout-left">
                <div class="col-md-8 address_form_agile">
                    <div class="checkout-right-basket">
                        <a routerLink="/index">Quay về trang chủ<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub" *ngIf="pets.length > 0">
            <h3 id="target1" class="w3l_fruit" #target>Các loại thú cưng độc đáo</h3>
            <div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
                <div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd" *ngFor="let item of pets" style="margin: 0 8% 2% 0">
                    <div class="hover14 column border-item">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos" *ngIf="item.Discount > 0">
                                <img src="../../../assets/images/offer.png" alt="" class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a routerLink="/pets/{{item.PetDetailId}}"><img src="{{ item.PetImage }}" alt=" {{ item.BreedName }}" class="display-img" /></a>
                                            <div class="topright" *ngIf="item.Discount > 0"><b>- {{ item.Discount }} %</b></div>
                                            <p>{{ item.PetTitle }}</p>
                                            <h4>{{ item.PriceDiscount|number: '4.0-2'}} <span *ngIf=" item.Discount > 0"> {{ item.Price | number : '4.0-2'}}</span></h4>
                                        </div>
                                        <div class="snipcart-details">
                                            <form>
                                                <input [disabled]="loading" type="submit" name="submit" value="Thêm vào giỏ hàng" class="button" (click)="AddToCart( item.PetDetailId, item.PetQuantity)" />
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div align="center" class="card-footer py-4">
                <nav *ngIf="pagination" aria-label="...">
                    <ul class="pagination justify-content-end mb-0" (click)="scroll(target)">
                        <li class="page-item" [ngClass]="{ disabled: !pagination.HasPrevious }">
                            <a class="page-link" (click)="previous()">
                                <!-- <i class="fas fa-angle-left"></i> -->
                                <span class="sr-only">Previous</span>
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item" [ngClass]="{ active: item == pagination.CurrentPage }" *ngFor="let item of listPage; let pageIndex = index">
                            <a class="page-link" (click)="change(item)">{{item + 1}} <span *ngIf="item == pagination.CurrentPage" class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item" [ngClass]="{ disabled: !pagination.HasNext }">
                            <a class="page-link" (click)="next()">
                                <!-- <i class="fas fa-angle-right"></i> -->
                                <span class="sr-only">Next</span>
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->