<div class="header bg-primary pb-8 pt-5 pt-md-0">   <!-- bg-gradient-danger -->
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<div class="card-body">
  <div class="container-fluid my-form">
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-xl-6 col-md-12">
                <h3 class="mb-0">Chỉnh sửa tuổi</h3>
              </div>
              <div class="col-xl-6 col-md-12 text-right">
                <button *ngIf="!firstload" (click)="onSubmit()" [disabled]="loading" class="btn btn-primary"><span
                    *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Lưu</button>
                <a [routerLink]="['/admin/list-age']" class="btn btn-default">Hủy</a>
              </div>
            </div>
          </div>
          <div *ngIf="!firstload" class="card-body">
            <form [formGroup]="form">
              <h6 class="heading-small text-muted mb-4">Thông tin tuổi</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="Title">Tiêu đề tuổi</label>
                      <input type="text" class="form-control form-control-alternative" placeholder="Tiêu đề tuổi"
                        [ngClass]="{ 'is-invalid': submitted && f.Title.errors }" formControlName="Title">
                      <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                        <div *ngIf="f.Title.errors.required">Vui lòng điền tiêu đề tuổi</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="OrderView">Độ ưu tiên</label>
                      <input type="number" class="form-control form-control-alternative" placeholder="Độ ưu tiên"
                        [ngClass]="{ 'is-invalid': submitted && f.OrderView.errors }" formControlName="OrderView">
                      <div *ngIf="submitted && f.OrderView.errors" class="invalid-feedback">
                        <div *ngIf="f.OrderView.errors.required">Vui lòng điền độ ưu tiên</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="Status">Trạng thái</label>
                          <select class="form-control form-control-alternative" placeholder="Trạng thái"
                            [ngClass]="{ 'is-invalid': submitted && f.Status.errors }" formControlName="Status">
                            <option *ngFor="let item of ageStatusOptions" [ngValue]="item.Id">
                              {{ item.Title }}
                            </option>
                          </select>
                          <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                            <div *ngIf="f.Status.errors.required">Vui lòng chọn trạng thái</div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="firstload" class="card-body loading-form">
            <span *ngIf="firstload" class="spinner-border spinner-border-lg"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>