<!-- newsletter -->
<!-- <div class="newsletter">
    <div class="container">
        <div class="w3agile_newsletter_left">
            <h3>sign up for our newsletter</h3>
        </div>
        <div class="w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="subscribe now">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div> -->
<!-- //newsletter -->

<div class="footer">
    <div class="container">
        <div class="col-md-3 w3_footer_grid">
            <h3>Chức năng</h3>
            <ul class="w3_footer_grid_list">
                <li><a routerLink="/pets">Thú cưng</a></li>
                <li><a routerLink="/about">Thông tin</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>Thông tin chính sách</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="javascript:void(0)">Chính sách và điều khoản</a></li>
                <li><a href="javascript:void(0)">Giấy phép</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>Các giống loài</h3>
            <ul class="w3_footer_grid_list">
                <li *ngFor="let item of parentBreeds ">
                    <a routerLink="/category/root/{{ item.Id}}">Giống {{ item.BreedName }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>Hỏi đáp</h3>
            <ul class="w3_footer_grid_list1">
                <li><label class="fa fa-facebook" aria-hidden="true"></label><i>Gần đây</i><span>...</span></li>
                <li><label class="fa fa-facebook" aria-hidden="true"></label><i>02 ngày trước</i><span>...</span></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="agile_footer_grids">
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer"></div>
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                <div class="w3_footer_grid_bottom">
                    <h4>100% Đảm bảo - Uy tín - Chất lượng</h4>
                    <img src="../../../assets/images/card.png" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                <div class="w3_footer_grid_bottom">
                    <h5>Liên hệ với chúng tôi</h5>
                    <ul class="agileits_social_icons">
                        <li><a href="javascript:void(0)" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_footer_copy">
            <p>© 2021 P2N Pet Shop | Thiết kế bởi <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>