<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a routerLink="index">Nhà</a><span>|</span></li>
            <li>Liên hệ</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    <app-banner-left></app-banner-left>
    <div class="w3l_banner_nav_right">
        <!-- mail -->
        <div class="mail">
            <h3>LIÊN HỆ</h3>
            <div class="agileinfo_mail_grids">
                <div class="col-md-4 agileinfo_mail_grid_left">
                    <ul>
                        <li><i class="fa fa-home" aria-hidden="true"></i></li>
                        <li>Địa chỉ<span>Phường Linh Xuân, Quận Thủ Đức</span></li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                        <li>email<span>p2n.store@petshop.com</span></li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                        <li>Số Điện Thoại<span>0386998130</span></li>
                    </ul>
                </div>
                <div class="col-md-8 agileinfo_mail_grid_right">
                    <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="col-md-6 wthree_contact_left_grid">
                            <input [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" formControlName="Name" placeholder="Họ và tên*" type="text">
                            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                <div *ngIf="f.Name.errors.required" style="color: red; font-size: 12px;">Vui lòng điền họ và tên</div>
                            </div>
                            <input [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" formControlName="Email" placeholder="Email*" type="text">
                            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                                <div *ngIf="f.Email.errors.required" style="color: red; font-size: 12px;">Vui lòng điền email</div>
                            </div>
                        </div>
                        <div class="col-md-6 wthree_contact_left_grid">
                            <input [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" formControlName="Phone" placeholder="Số điện thoại*" type="text">
                            <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                                <div *ngIf="f.Phone.errors.required" style="color: red; font-size: 12px;">Vui lòng điền số điện thoại</div>
                            </div>
                            <input [ngClass]="{ 'is-invalid': submitted && f.Subject.errors }" formControlName="Subject" placeholder="Chủ đề*" type="text">
                            <div *ngIf="submitted && f.Subject.errors" class="invalid-feedback">
                                <div *ngIf="f.Subject.errors.required" style="color: red; font-size: 12px;">Vui lòng điền chủ đề</div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                        <textarea [ngClass]="{ 'is-invalid': submitted && f.Content.errors }" formControlName="Content" style="margin-bottom: 0px;" placeholder="Nội dung*..." type="text"></textarea>
                        <div *ngIf="submitted && f.Content.errors" class="invalid-feedback">
                            <div *ngIf="f.Content.errors.required" style="margin-left: 15px; color: red; font-size: 12px;">Vui lòng điền nội dung</div>
                        </div>
                        <!-- <textarea placeholder="Nội dung*..."
                          [ngClass]="{ 'is-invalid': submitted && f.Content.errors }" formControlName="Content" style="margin-bottom: 0px;">
                        </textarea>
                        <div *ngIf="submitted && f.Content.errors" class="invalid-feedback">
                          <div *ngIf="f.Content.errors.required" style="margin-left: 15px; color: red; font-size: 12px;">Vui lòng điền địa chỉ</div>
                        </div> -->
                        <input type="submit" value="Gửi thông tin" style="margin-top: 10px;">
                        <input type="reset" value="Nhập lại" style="margin-top: 10px;">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //mail -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- map -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96748.15352429623!2d-74.25419879353115!3d40.731667701988506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sshopping+mall+in+New+York%2C+NY%2C+United+States!5e0!3m2!1sen!2sin!4v1467205237951"
        style="border:0"></iframe>
</div>
<!-- //map -->