<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a routerLink="/index">Trang chủ</a><span>|</span></li>
            <li>Thông tin cá nhân</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    <app-banner-left></app-banner-left>
    <div class="w3l_banner_nav_right">
        <!-- login -->

        <div class="w3_login">
            <h3>P2N Pet</h3>

            <div class="left-top">
                <h4>
                    <b>Thông tin cá nhân:</b>
                </h4>
                <br>
                <div class="left-tops">
                    <i class="ni education_hat mr-2"></i>Họ tên: {{ name }}
                </div>
                <div class="left-tops">
                    <i class="ni education_hat mr-2"></i>Số điện thoại: {{ phone }}
                </div>
                <div class="left-tops">
                    <i class="ni education_hat mr-2"></i>Email: {{ email }}
                </div>
                <div class="left-tops">
                    <i class="ni education_hat mr-2"></i>Address: {{ address }}
                </div>

            </div>
            <b><hr class="my-4"></b>

            <div class="w3_login_module">
                <div class="module form-module">
                    <div class="toggle" id="toggle"><i class="fa fa-times fa-pencil"></i>
                    </div>
                    <div class="form">
                        <h2>Cập nhật thông tin cá nhân</h2>
                        <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" formControlName="Name" placeholder="Họ và tên" type="text">
                                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                                    <div *ngIf="f.Name.errors.required" style="color: red; font-size: 12px;">Vui lòng điền họ tên</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" formControlName="Email" placeholder="Email" type="Email">
                                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                                    <div *ngIf="f.Email.errors.required" style="color: red; font-size: 12px;">Vui lòng điền địa chỉ email</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" formControlName="Phone" placeholder="Số điện thoại" type="text">
                                <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.Phone.errors.required" style="color: red; font-size: 12px;">Vui lòng điền số điện thoại</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" formControlName="Address" placeholder="Địa chỉ" type="text" rows="4">
                                </textarea>
                                <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                                    <div *ngIf="f.Address.errors.required" style="color: red; font-size: 12px;">Vui lòng điền địa chỉ liên hệ</div>
                                </div>
                            </div>
                            <div style="display: inline-flex; flex: 1; float: right;">
                                <div class="text-center">
                                    <span class="spinner-border-sm mr-1"></span>
                                    <button [disabled]="loading" type="submit" class="btn btn-primary my-4">
                                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                      Cập nhật
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf=" message != ''">
                        <strong>{{ message }}</strong>
                    </div>
                    <div class="cta">
                        <a href="javascript:void(0)"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //login -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- newsletter-top-serv-btm -->
<div class="newsletter-top-serv-btm">
    <div class="container">
        <div class="w3l_banner_nav_right">
            <div class="col-md-4 wthree_news_top_serv_btm_grid">
                <div class="wthree_news_top_serv_btm_grid_icon">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <h3>Sẵn sàng mua sắm</h3>
                <p>Có thể truy cập trang để xem và đặt mua những thú cưng đẹp đẽ dễ thương cho bản thân nào.</p>
            </div>
            <div class="col-md-4 wthree_news_top_serv_btm_grid">
                <div class="wthree_news_top_serv_btm_grid_icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
                <h3>Giá cả hợp lý</h3>
                <p>Từng loại thú cưng có mức giá phù hợp với trên thị trường. Ưu đãi với tất cả mọi thứ</p>
            </div>
            <div class="col-md-4 wthree_news_top_serv_btm_grid">
                <div class="wthree_news_top_serv_btm_grid_icon">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <h3>Giao hàng nhanh chóng</h3>
                <p>Khả năng giao thú cưng nhanh theo yêu cũng như nhận trực tiếp tại shop </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //newsletter-top-serv-btm -->